"C:\Users\Ignacio\Documents\GitHub\Algorithm\.idea"
*.xml
Scheme/Funciones merge sort e insertion sort.1
Python/__pycache__/visual.cpython-37.pyc
Python/__pycache__/match.cpython-37.pyc
.idea/workspace.xml
Python/__pycache__/T1PP.cpython-37.pyc
Scheme/Funciones merge sort e insertion sort.rkt.~0ed8a62bee499cbf0f882d4a1d1ed33593c81d1c~
Scheme/Funciones merge sort e insertion sort.2
.idea/workspace.xml
